.tall {
  height: 400vh;
  background: #eee;
}

.sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: red;
  z-index: -1;
}

/* ------------------------------------------------------------------------ */
/* Reset / Demo Styles */
/* ------------------------------------------------------------------------ */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.inner-col {
  width: 900px;
  max-width: 100%;
  margin: 0 auto;
  padding: 100px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

section {
  min-height: 100vh;
  background: #f0f0f0;
}

section.intro {
  min-height: 100vh;
}

section:nth-of-type(odd) {
  background-color: #fff;
}
